<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= pluralize(@user.problems.count, "problem") %></span>
    </section>
    <% if current_user?(@user) %>
      <%= button_to "Add problem", new_problem_path, method: "get", class: "btn" %>
      <%= form_tag({controller: "users", action: "codeforces_problems"}, method: "post") do %>
        <%= text_field_tag :handle, params[:handle], placeholder: "Codeforces handle" %>
        <%= submit_tag "Add user problems from codeforces", name: nil, class: "btn" %>
      <% end %>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.problems.any? %>
      <h3>Problems (<%= @user.problems.count %>)</h3>
      <ol class="problems">
        <%= render @problems %>
      </ol>
      <%= will_paginate @problems %>
    <% end %>
  </div>
</div>